header.pa2.bg-dark-gray style="background-image: url(http://res.cloudinary.com/dvogeldev/image/upload/v1498749920/real-carbon-fibre_gvlaxl.png)"
  = partial 'layouts/partial/logo'
  h5.white High Quality, Budget Friendly AR's &amp; AK's
